.classroomcoursebuilder .general-details-form {
  transition: height .202s ease-in;
}
.classroomcoursebuilder .general-details-form label {
  width : 150px;
}
.classroomcoursebuilder .general-details-form .description textarea {
  height : 50px;
}
.classroomcoursebuilder .layout-selector {
  background: #E5E5E5;
}
.classroomcoursebuilder .layouts-container .kdview {
  float: left;
  width: 100px;
  height: 70px;
  margin: 5px 10px;
}
.classroomcoursebuilder .layouts-container .start-tab-split-option {
  width: 90px;
  height: 60px;
  margin: 5px;
}
.classroomcoursebuilder .layouts-container {
  overflow: hidden;
  float: left;
  width: 130px;
}
.classroomcoursebuilder .layouts-container .selected .start-tab-split-option {
  background: #FF9200;
}
.classroomcoursebuilder .pane-selector {
  width: 540px;
  height: 320px;
  float: left;
}
.classroomcoursebuilder .pane-selector .start-tab-split-option {
  width: 360px;
  height: 300px;
  margin: 10px;
  float: left;
}
.classroomcoursebuilder .pane-items-container div {
  padding: 8px 16px;
  border: 1px solid #ea8400;
  background: #ff9200;
  color: #fff;
  border-radius: 4px;
  width: auto;
  margin-bottom: 10px;
  cursor: move;
  width: 85px;
}
.classroomcoursebuilder .pane-items-container {
  float: left;
  margin-top: 12px;
  margin-left: 22px;
}
.classroomcoursebuilder .start-tab-split-option.highlight span {
  background: rgba(165, 218, 148, .6)
}
.classroomcoursebuilder .start-tab-split-option span .pane-type {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -14px;
  height: 26px;
}
.classroomcoursebuilder .start-tab-split-option.highlight span .pane-type {
  opacity: 0.5;
}
.classroomcoursebuilder .start-tab-split-option .pane-type .cog {
  background: url("https://koding.com/images/_kd.sprites.png");
  margin-left: 6px;
  display: inline-block;
  background-position: -3px -321px;
  height: 16px;
  width: 16px;
}
.classroomcoursebuilder .start-tab-split-option span:hover .cog {
  background-position: -23px -321px;
}
.classroomcoursebuilder .no-item {
  margin-top: 3px;
}
.classroomcoursebuilder .add-course-button {
  position: absolute;
  right: 20px;
  margin-top: -20px;
  z-index: 4000;
}
.classroomcoursebuilder .readme-editor {
  color: #FFF;
  width: 100%;
  height: 200px !important;
  margin-left: 5px;
  background: #323232 !important;
  font-size: 13px !important;
  border-radius: 0 !important;
}
.classroomcoursebuilder .readme-editor:focus {
  border: none !important;
  box-shadow: none !important;
}
.classroomcoursebuilder .editor-workspace {
  border-top: 1px solid #CCC;
}
